<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPMS_API" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RelationaManager" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPMS_API" contract="PMS_API.IPMS_API"
                name="BasicHttpBinding_IPMS_API" />
        </client>
    </system.serviceModel>
</configuration>